.calendar
  position: relative;
  width: 100%
  display: flex
  background rgb(59, 153, 252)
  height: 30px
  line-height: 30px
  font-size 13px
  .date-content
    flex: 1
    display inline-block
    text-align center
  .calendar
    flex: 1.5
    display: inline-block
    .content
      position: relative;
      width 100%
      display: inline-block;
      height 26px
      margin-top: 2px
      border-radius 3px
      background rgb(255, 255, 255)
      color rgb(59, 153, 252)
      .text
        display inline-block
        margin-left 15px
      .icon
        float right
        margin-right: 10px
